header {
    min-height: 80px;
}

main {
    height: 100vh;
}

.main-container {
    width: 80%;
    margin-top: 60px;
}

.employee-card {
    min-width: 16rem;
}
.vl {
    border-left: 2px dashed grey;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.card-body {
    background-color: #C0C0C0;
}

.card-item {
    padding: 5px 10px;
    margin: 3px 0;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
} 