/* HTML Tag Styles */
header {
    min-height: 80px;
}

main {
    height: 100vh;
}

/* Main Container Styles */
.main-container {
    width: 80%;
    margin-top: 60px;
}

/* Employee Card Styles */
.employee-card {
    min-width: 16rem;
}

.card-body {
    background-color: #C0C0C0;
}

.card-item {
    padding: 5px 10px;
    margin: 3px 0;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
} 